.burger {
  width: 300px;
  padding: 12px;
  border-radius: 18px;
  background-color: var(--white);
}

.image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 276px;
  height: 220px;
  object-fit: scale-down;
  border-radius: 12px;
}

.buttons__list {
  display: flex;
  justify-content: space-between;

  & button {
    border-radius: 15px;
    padding: 10px 15px;
    background-color: var(--anti-flash-white);
    transition: background-color, 0.2s ease-in-out;

    &:hover {
      background-color: var(--chrome-yellow);
    }
  }
}

.price {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

.title {
  margin-bottom: 30px;
  font-weight: 400;
}